@import "compass";
@import "susy";

// helper
@import "helper/form";
@import "helper/global";

// config
@import "config/color";
@import "config/susy";
@import "config/typography";
@import "config/global";

// core
@import "core/typography";
@import "core/global";

// partial
@import "partials/bootstrap";
@import "partials/button";
@import "partials/corner";
@import "partials/generator";
@import "partials/gototop";
@import "partials/mobile";
@import "partials/preview";
@import "partials/social-object";
@import "partials/rotate";
@import "partials/upload";

#formbuttons {
  margin-top: 6em;
}
