html, body {
  // height: 100%;

}
body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: $background-color;
  color: $text-black;
  font-size: $base-font-size;
  line-height: $base-line-height;
  padding: 20px 0;
}
a {
  @include link-colors($link-color, $link-color-hover);
  text-decoration: none;
  border-bottom: 1px solid white;
}
a:hover {
  text-decoration: none;
}

#header {

}
#content {
  position: relative;
  height: auto;
  // min-height: 75%;
  margin-top: 30px;
  @include at-breakpoint($pad) {
    height: inherit;
  }
}
#footer {
  margin: rhythm(1.5) auto;
  p {
    font-size: 14px;
    line-height: 1;
  }
}
