// base setting
$base-font-size: 16px;
$base-line-height: 24px;

// font-size
$font-size-xxl : $base-font-size * 2.5;
$font-size-xl  : $base-font-size * 1.5;
$font-size-l   : $base-font-size * 1.25;
$font-size-m   : $base-font-size * 1;
$font-size-s   : $base-font-size * .875;
$font-size-xs  : $base-font-size * .75;
