#generator {
  h1 {
    font-size: 36px;
    line-height:36px;
    color: #930;
    margin:0; padding:0;
    font-size:1px;
    text-indent:-9999px;
    width:  100%;
    height:60px;
    background: url(../images/h1.png) no-repeat;
    background-position: center;
    background-size: contain;
    display:inline-block;
    margin:auto auto;
    margin-bottom:20px;
    margin-top:20px;
    display: none;
  }
  h2 {
    display: none;
  }
  #settings {
    max-width: 400px;
    margin: 0 auto;
  }
  @include at-breakpoint($pad) {
    h1 {
      display: block;
    }
  }
}
#uploading {
  position: fixed;
  bottom: 0;
  left: 0;
  right:0;
  background: rgba(0,0,0,0.5);
  color: white;
  text-align: center;
  padding: 5px 0;
  display: none;
  z-index: 99999;
}
#generating {
  position: fixed;
  bottom: 0;
  left: 0;
  right:0;
  background: rgba(0,0,0,0.5);
  color: white;
  text-align: center;
  padding: 5px 0;
  display: none;
  z-index: 99999;
}
#templates {
  .btn {
    margin: 2px 1px;
    padding: 0;
    background-size: cover;
    background-position: center;
  }
  img {
    width: 58px;
    height: 58px;
  }
}

.control-box {
  margin: 3em 0;
}
