/* line 61, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 3, ../sass/core/_typography.scss */
h1 {
  font-size: 2.5em;
  line-height: 1.2em;
}

/* line 6, ../sass/core/_typography.scss */
h2 {
  font-size: 1.5em;
  line-height: 2em;
}

/* line 9, ../sass/core/_typography.scss */
h3 {
  font-size: 1.25em;
  line-height: 1.2em;
}

/* line 12, ../sass/core/_typography.scss */
h4 {
  font-size: 1em;
  line-height: 1.5em;
}

/* line 15, ../sass/core/_typography.scss */
h5 {
  font-size: 0.875em;
  line-height: 1.71429em;
}

/* line 18, ../sass/core/_typography.scss */
h6 {
  font-size: 0.75em;
  line-height: 2em;
}

/* line 21, ../sass/core/_typography.scss */
p {
  font-size: 1em;
  line-height: 1.5em;
}

/* line 24, ../sass/core/_typography.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 27, ../sass/core/_typography.scss */
.lowercase {
  text-transform: lowercase;
}

/* line 30, ../sass/core/_typography.scss */
.ellipsis {
  word-wrap: break-word;
}

/* line 5, ../sass/core/_global.scss */
body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: #DF6934;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  line-height: 24px;
  padding: 20px 0;
}

/* line 16, ../sass/core/_global.scss */
a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
}
/* line 24, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: white;
}

/* line 21, ../sass/core/_global.scss */
a:hover {
  text-decoration: none;
}

/* line 28, ../sass/core/_global.scss */
#content {
  position: relative;
  height: auto;
  margin-top: 30px;
}
@media (min-width: 768px) {
  /* line 28, ../sass/core/_global.scss */
  #content {
    height: inherit;
  }
}
/* line 91, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/susy-1.0.9/sass/susy/_media.scss */
.lte-ie9 #content {
  height: inherit;
}

/* line 37, ../sass/core/_global.scss */
#footer {
  margin: 2.25em auto;
}
/* line 39, ../sass/core/_global.scss */
#footer p {
  font-size: 14px;
  line-height: 1;
}

/* line 2, ../sass/partials/_bootstrap.scss */
.navbar {
  border-width: 0;
  background-color: #00acb3;
  border-bottom: 1px solid #00858a;
  -webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.52);
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.52);
  color: #ffffff;
  font-family: arial,sans-serif;
  top: 0;
  position: fixed;
  width: inherit;
}
/* line 13, ../sass/partials/_bootstrap.scss */
.navbar a {
  cursor: pointer;
  font-weight: bold;
}
/* line 18, ../sass/partials/_bootstrap.scss */
.navbar li > a,
.navbar .navbar-toggle {
  color: #efefef;
}
/* line 21, ../sass/partials/_bootstrap.scss */
.navbar li > a.btn {
  color: #666666;
}
/* line 25, ../sass/partials/_bootstrap.scss */
.navbar .dropdown-menu li a,
.navbar .dropdown-menu li a:hover {
  color: white;
}
/* line 28, ../sass/partials/_bootstrap.scss */
.navbar .dropdown-menu li > a {
  padding-left: 30px;
}
/* line 31, ../sass/partials/_bootstrap.scss */
.navbar .dropdown-menu .divider {
  background-color: rgba(255, 255, 255, 0.1);
}
/* line 38, ../sass/partials/_bootstrap.scss */
.navbar li > a:hover,
.navbar li > a:focus,
.navbar .open, .navbar .open > a,
.navbar .open > a:hover,
.navbar .open > a:focus {
  background-color: #007b80;
  color: #fff;
}
/* line 42, ../sass/partials/_bootstrap.scss */
.navbar .logo {
  color: #fffffe;
  font-size: 20px;
  font-weight: 700;
}
/* line 47, ../sass/partials/_bootstrap.scss */
.navbar .navbar-toggle, .navbar .close {
  outline: 0;
}
/* line 50, ../sass/partials/_bootstrap.scss */
.navbar .navbar-toggle .icon-bar {
  background-color: #fff;
}
/* line 54, ../sass/partials/_bootstrap.scss */
.navbar .nav .caret,
.navbar .nav a:hover .caret {
  border-top-color: #fffffe;
  border-bottom-color: #fffffe;
}
/* line 60, ../sass/partials/_bootstrap.scss */
.navbar .nav .open > a .caret,
.navbar .nav .open > a:hover .caret,
.navbar .nav .open > a:focus .caret {
  border-top-color: #fffffe;
  border-bottom-color: #fffffe;
}
@media (min-width: 768px) {
  /* line 66, ../sass/partials/_bootstrap.scss */
  .navbar .dropdown-menu li a {
    color: #00acb3;
  }
  /* line 69, ../sass/partials/_bootstrap.scss */
  .navbar .dropdown-menu .divider {
    background-color: #eee;
  }
  /* line 72, ../sass/partials/_bootstrap.scss */
  .navbar .navbar-form {
    width: 40%;
  }
}
/* line 66, ../sass/partials/_bootstrap.scss */
.lte-ie9 .navbar .dropdown-menu li a {
  color: #00acb3;
}
/* line 69, ../sass/partials/_bootstrap.scss */
.lte-ie9 .navbar .dropdown-menu .divider {
  background-color: #eee;
}
/* line 72, ../sass/partials/_bootstrap.scss */
.lte-ie9 .navbar .navbar-form {
  width: 40%;
}
@media (min-width: 1024px) {
  /* line 77, ../sass/partials/_bootstrap.scss */
  .navbar .navbar-form {
    width: 30%;
  }
}
/* line 77, ../sass/partials/_bootstrap.scss */
.lte-ie9 .navbar .navbar-form {
  width: 30%;
}

/* line 84, ../sass/partials/_bootstrap.scss */
.dropdown-menu {
  font-size: 16px;
}

/* line 89, ../sass/partials/_bootstrap.scss */
.row {
  height: inherit;
}

/* line 95, ../sass/partials/_bootstrap.scss */
textarea.form-control {
  margin: auto auto;
  width: 100%;
  min-height: 140px;
  font-size: 20px;
  line-height: 30px;
  color: #333;
  resize: none;
  padding: 5px;
  padding-bottom: 20px;
}

/* line 108, ../sass/partials/_bootstrap.scss */
label.checkbox {
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
  vertical-align: bottom;
  margin: 0 10px 10px 10px;
}

/* line 117, ../sass/partials/_bootstrap.scss */
.btn-default {
  border: 2px solid #9bd4d9;
}

/* line 120, ../sass/partials/_bootstrap.scss */
.btn-default:hover {
  border: 2px solid #9bd4d9;
}

/* line 124, ../sass/partials/_bootstrap.scss */
.btn-default.active {
  border: 2px solid white;
  -webkit-box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
  -moz-box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}

/* line 1, ../sass/partials/_corner.scss */
.left-bottom-corner {
  position: relative;
  text-align: center;
}
/* line 4, ../sass/partials/_corner.scss */
.left-bottom-corner div {
  margin: 0 auto;
}

/* line 2, ../sass/partials/_generator.scss */
#generator h1 {
  font-size: 36px;
  line-height: 36px;
  color: #930;
  margin: 0;
  padding: 0;
  font-size: 1px;
  text-indent: -9999px;
  width: 100%;
  height: 65px;
  background: url(../images/h1.png) no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  margin: auto auto;
  margin-bottom: 25px;
  margin-top: 20px;
  display: none;
}
/* line 20, ../sass/partials/_generator.scss */
#generator h2 {
  display: none;
}
/* line 23, ../sass/partials/_generator.scss */
#generator #settings {
  max-width: 500px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  /* line 28, ../sass/partials/_generator.scss */
  #generator h1 {
    display: block;
  }
}
/* line 28, ../sass/partials/_generator.scss */
.lte-ie9 #generator h1 {
  display: block;
}

/* line 33, ../sass/partials/_generator.scss */
#uploading {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 5px 0;
  display: none;
  z-index: 99999;
}

/* line 45, ../sass/partials/_generator.scss */
#generating {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 5px 0;
  display: none;
  z-index: 99999;
}

/* line 58, ../sass/partials/_generator.scss */
#templates .btn {
  margin: 2px 1px;
  padding: 0;
  background-size: cover;
  background-position: center;
  width: 18%;
}
/* line 65, ../sass/partials/_generator.scss */
#templates img {
  width: 100%;
}

/* line 70, ../sass/partials/_generator.scss */
.control-box {
  margin: 3em 0;
}

/* line 74, ../sass/partials/_generator.scss */
.banana {
  display: none;
}

/* line 1, ../sass/partials/_gototop.scss */
.gototop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  z-index: 100000;
  cursor: pointer;
  background: #00acb3;
  color: #FFFFFF;
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  border-radius: 3px;
  display: none;
}
/* line 17, ../sass/partials/_gototop.scss */
.gototop .glyphicon {
  bottom: 0;
  left: 1px;
}

/* line 1, ../sass/partials/_mobile.scss */
#show {
  width: 60px;
  height: 60px;
  background: #ccc;
  text-align: center;
  line-height: 60px;
  position: fixed;
  bottom: -5px;
  left: 0;
  margin: 0 auto;
  font-size: 26px;
  cursor: pointer;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  z-index: 99999;
}
/* line 16, ../sass/partials/_mobile.scss */
#show:hover {
  background: #eee;
}
@media (min-width: 768px) {
  /* line 1, ../sass/partials/_mobile.scss */
  #show {
    display: none;
  }
}
/* line 91, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/susy-1.0.9/sass/susy/_media.scss */
.lte-ie9 #show {
  display: none;
}

/* line 23, ../sass/partials/_mobile.scss */
.mobile-hide {
  display: none;
}
@media (min-width: 768px) {
  /* line 23, ../sass/partials/_mobile.scss */
  .mobile-hide {
    display: initial;
  }
}
/* line 91, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/susy-1.0.9/sass/susy/_media.scss */
.lte-ie9 .mobile-hide {
  display: initial;
}

/* line 1, ../sass/partials/_preview.scss */
.preview {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  border: 2px solid #9bd4d9;
}
/* line 17, ../sass/partials/_preview.scss */
.preview:after {
  z-index: -1;
  content: "";
  display: block;
  padding-top: 100%;
}
/* line 26, ../sass/partials/_preview.scss */
.preview #userimage,
.preview #coverimage {
  width: 100%;
  max-width: 500px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
}
/* line 35, ../sass/partials/_preview.scss */
.preview #userimage .inner,
.preview #coverimage .inner {
  width: 100%;
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 50% 50%;
}
/* line 46, ../sass/partials/_preview.scss */
.preview #coverimage {
  overflow: hidden;
}
/* line 49, ../sass/partials/_preview.scss */
.preview #dragger {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  cursor: move;
}
/* line 58, ../sass/partials/_preview.scss */
.preview #size-slider {
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  z-index: 100;
  margin: 0 20px;
}
/* line 67, ../sass/partials/_preview.scss */
.preview #size-slider.ui-widget-content {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  height: 1px;
}
/* line 71, ../sass/partials/_preview.scss */
.preview #size-slider.ui-widget-content:before {
  content: "";
  position: absolute;
  top: -21px;
  left: 0;
  display: block;
  width: 110%;
  height: 40px;
  background: white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  margin-left: -5%;
}
/* line 86, ../sass/partials/_preview.scss */
.preview #size-slider .ui-state-default,
.preview #size-slider .ui-widget-content .ui-state-default,
.preview #size-slider .ui-widget-header .ui-state-default {
  outline: none;
  width: 30px;
  height: 30px;
  background: #00acb3;
  opacity: 1;
  border: 0px solid transparent;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  cursor: pointer;
}
/* line 96, ../sass/partials/_preview.scss */
.preview #size-slider .ui-slider-handle {
  top: -0.9em;
  margin-left: -0.8em;
}
/* line 100, ../sass/partials/_preview.scss */
.preview #size-slider .zoomin {
  color: #00acb3;
  position: absolute;
  top: -15px;
  right: -17px;
}
/* line 106, ../sass/partials/_preview.scss */
.preview #size-slider .zoomout {
  color: #00acb3;
  position: absolute;
  top: -15px;
  left: -17px;
}
/* line 113, ../sass/partials/_preview.scss */
.preview #userimage .inner {
  background-color: #CCCCCC;
}
/* line 117, ../sass/partials/_preview.scss */
.preview #loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
}
/* line 125, ../sass/partials/_preview.scss */
.preview #loading div {
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 130, ../sass/partials/_preview.scss */
.preview #loading img {
  width: 43px;
  height: 11px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -21px;
}

/* line 1, ../sass/partials/_social-object.scss */
.likebtn {
  position: relative;
  width: 100%;
  height: 20px;
  text-align: center;
  margin: auto auto;
  margin-bottom: 20px;
  margin-top: 10px;
}

/* line 10, ../sass/partials/_social-object.scss */
.fbcomment {
  position: relative;
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin: auto auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
/* line 18, ../sass/partials/_social-object.scss */
.fbcomment h3 {
  width: 144px;
  height: 37px;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 1px;
  text-indent: -9999px;
  margin: auto auto;
  background: url(../images/feedbacktitle.png) no-repeat;
  margin-bottom: 10px;
}

/* line 31, ../sass/partials/_social-object.scss */
.plzlike {
  position: relative;
  width: 100%;
  font-size: 12px;
  color: #399;
  text-align: center;
  margin: 10px auto;
  display: none;
}

/* line 1, ../sass/partials/_rotate.scss */
#rotate_container {
  width: auto;
  height: auto;
  margin: auto auto;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 10000;
  opacity: 0;
  overflow: hidden;
}

/* line 14, ../sass/partials/_rotate.scss */
#rotate_object {
  position: relative;
}
/* line 16, ../sass/partials/_rotate.scss */
#rotate_object img {
  width: 100%;
  height: 100%;
}

/* line 21, ../sass/partials/_rotate.scss */
#rotateCopy {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -10;
}

/* line 27, ../sass/partials/_rotate.scss */
.ui-wrapper {
  overflow: visible !important;
}

/* line 30, ../sass/partials/_rotate.scss */
.ui-resizable-handle {
  background: #f5dc58;
  border: 1px solid #FFF;
  z-index: 2;
}

/* line 35, ../sass/partials/_rotate.scss */
.ui-rotatable-handle {
  background: #f5dc58;
  border: 1px solid #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  cursor: pointer;
  height: 10px;
  left: 50%;
  margin: 0 0 0 -5px;
  position: absolute;
  top: -5px;
  width: 10px;
}

/* line 50, ../sass/partials/_rotate.scss */
.ui-rotatable-handle.clone {
  visibility: hidden;
}

/* line 56, ../sass/partials/_rotate.scss */
.ui-resizable-ne,
.ui-resizable-nw,
.ui-resizable-se,
.ui-resizable-sw {
  width: 24px;
  height: 24px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  background: rgba(245, 220, 88, 0.5);
}
@media (min-width: 1024px) {
  /* line 56, ../sass/partials/_rotate.scss */
  .ui-resizable-ne,
  .ui-resizable-nw,
  .ui-resizable-se,
  .ui-resizable-sw {
    width: 12px;
    height: 12px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
  }
}
/* line 91, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/susy-1.0.9/sass/susy/_media.scss */
.lte-ie9 .ui-resizable-ne, .lte-ie9
.ui-resizable-nw, .lte-ie9
.ui-resizable-se, .lte-ie9
.ui-resizable-sw {
  width: 12px;
  height: 12px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}

/* line 1, ../sass/partials/_upload.scss */
.uploadBtn {
  cursor: pointer;
}

/* line 4, ../sass/partials/_upload.scss */
input#uploadInput {
  display: none;
}

/* line 30, ../sass/all.scss */
#formbuttons {
  margin-top: 6em;
}

/* line 34, ../sass/all.scss */
#normalSubmit {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  color: white;
  border-bottom: 2px solid white;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.3;
}
